<% include partials/header %>

<div class="row">
  <div class="six colums wrapper">
  <h1 class="header">SEARCH FOR A MOVIE</h1>
  <div class="six colums">
    <form action="/results" method="GET">
      <input class="u-full-width inputText" type="text" placeholder="Search term" name="search">
      <input class="button-primary submitbtn" type="submit" value="Submit">
    </form>
  </div>
  </div>
</div>


<% include partials/footer %>
